@import "tailwindcss";

@utility table-content {
  @apply px-6 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider;
}

@utility btn {
  @apply text-white p-2 rounded-full hover:shadow-md 
         focus:outline-none focus:ring-2 focus:ring-offset-1 
         transition cursor-pointer;
}
